*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/gradlew
app/google-services.json
app/libs/
app/src/main/java/uber/app/Daos/
app/src/main/java/uber/app/DatabaseModels/
app/src/main/java/uber/app/Databases/
app/src/main/java/uber/app/Repositories/
app/src/main/res/drawable/cyberspace.jpg
app/src/main/res/drawable/digital.jpg
app/src/main/res/values/google_maps_api.xml
app/src/release/
/.gitignore
/settings.gradle
/.idea/misc.xml
